body {
    margin: 20px; 
    background: #2b2839,
}


.avatar {
    width: 250px; 
    margin-left: 29px;    
   
 
}

.card {

    width:600px; 
    margin:0 auto; 
    justify-content: space-around; 
    padding: 20px; 
    display:flex;   
    justify-content: space-around; 
    text-align: center; 
    background: #ddebf8;
    color:#2b2839; 
   
}

.italic{
    font-style: italic; 
}

.border-blue {
    border: 1px blue; 
}




